.Item{
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px rgba(145,140,145,1);
    padding: 5px;
}
.Online{
    width: 14px;
    height: 14px;
    background-color: rgb(8, 189, 8);
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}
.Offline{
    width: 14px;
    height: 14px;
    background-color: rgb(180, 42, 42);
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}
.Avatar{
    border-radius: 5px;
    margin-right: 10px;
}
.Name{
    font-weight: 600;
}